{% extends 'shared/base.html'%} {% load static %} {% block content %}
 

            <section class="galeria" style="margin-left: 5em">
                <form action="{% url 'editar_receita' receita_id %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="row">
                        {% for field in form.visible_fields %}
                        <div class="col-12 col-lg-12" style="margin-bottom: .5em;">
                            <label for="{{ field.id_for_label }}" style="color:#c04f04; margin-bottom: 5px;">{{field.label}}</label>
                            {{ field }}
                        </div>
                        {% endfor %}
                    </div>
                    {{ recipe_form.as_p }}

                    <h2 class="col-12 col-lg-12" style="color:#c04f04; margin: 1em;">Ingredientes:</h2>
                    {{ formset.management_form }}
                    <ul class="ingredientes" id="ingrediente-lista">
                        {% for form in formset %}
                        <li class="col-12 col-lg-12" style="color:#c04f04; margin: 1.2em;">{{ form.as_p }}</li>
                        {% endfor %}
                    </ul>
                    <div>
                        <input class="novo_ingrediente" style="padding: top .5em;" type="text" id="novo_ingrediente" name="novo_ingrediente" placeholder="Novo ingrediente">
                        <button id="add-ingrediente-btn" type="submit" class="btn btn-warning col-6" style="padding: top 5px;">Adicionar Ingrediente</button>
                    
                    </div>
                    
                    <input id="edit-receita-form" type="submit" value="Salvar receita" class="btn btn-warning col-6" style="padding: top 5px; margin-bottom: 1em;" formaction="">
                    <div class="btn_voltar_receita">
                        <a href="{% url 'receitas' receita_id=receita_id %}" class="btn btn-success">Voltar para a Receita</a>
                    </div>
                    
                    
                </form>                         
            </section>
            
        </main>
    </div>
           
</body> 

{% endblock %}

