{% extends 'shared/base.html'%} {% load static %} {% block content %}

<section class="conteudo">
  <section class="banner">
    <img
      class="banner__imagem"
      src="{% static '/banner3.jpg' %}"
      alt="banner receitas"
    />
    <h1 class="banner__titulo">A sua galeria de receitas!</h1>
  </section>
  <section class="tags">
    <p class="tags__titulo">Busque por tags:</p>
    <ul class="tags__lista">
      <li class="tags__tag"><a href="{% url 'filtro' 'PETISCOS' %}" class="btn" style="color: #c04f04;">Petiscos</a></li>
      <li class="tags__tag"><a href="{% url 'filtro' 'DOCES' %}" class="btn" style="color: #c04f04;">Doces</a></li>
      <li class="tags__tag"><a href="{% url 'filtro' 'PRATOS' %}" class="btn" style="color: #c04f04;">Pratos principais</a></li>
      <li class="tags__tag"><a href="{% url 'filtro' 'ENTRADAS' %}" class="btn" style="color: #c04f04;">Entradas</a></li>
      <li class="tags__tag"><a href="{% url 'filtro' 'BEBIDAS' %}" class="btn" style="color: #c04f04;">Bebidas</a></li>
    </ul>
  </section>
  <section class="galeria">
    <div class="cards">
      <h2 class="cards__titulo">Navegue pela galeria</h2>
      <ul class="cards__lista">
        {% if cards %}
        {% for receita in cards %}
        {% if receita.publicada == True %}
        <li class="card">
          <a href="{% url 'receitas' receita.id %}">
            {% if receita.foto == "" or receita.foto == null %}
              <img class="card__imagem__notfound" src="{% static '/not-found.png' %}" alt="foto"/> 
            {% else %}
              <img class="card__imagem" src="{{ receita.foto.url }}" alt="foto"/>
            {% endif %} 
          </a>
          <span class="card__tag">{{receita.tipo}}</span>
          <div class="card__info">
            <div><span class="card__titulo_1">{{receita.nome_Receita}}</span><span class="card__titulo_2"> - Adicionada por: {{receita.usuario}}</span></div>
            <div class="card__texto">
              <p class="card__descricao">{{receita.tipo}}</p>
            
            </div>
          </div>
        </li>
        {% endif %}
        {% endfor %}
        {% else %}
        {% endif %}
      </ul>
    </div>
  </section>
</section>

{% endblock %}
