{% extends 'shared/base.html'%} {% load static %} {% block content %}

<section class="conteudo">
  <section class="imagem">
    <div class="imagem__conteudo">
      {% if receita.foto == "" or receita.foto == null %}
      <img
        class="imagem__imagem"
        src="{% static '/not-found.png' %}"
        alt="foto"
      />
      {% else %}
      <img class="imagem__imagem" src="{{ receita.foto.url }}" alt="foto" />
      {% endif %}
      <div class="imagem__info">
        <div class="imagem__texto">
          <p class="imagem__titulo">{{receita.nome_Receita}} - Adicionada por: {{receita.usuario}}</p>
          <p class="imagem__descricao"></p>
          {% if massa_ingredientes %}
          <ul>
            <p>Massa:</p>
            {% for receita_ingrediente in massa_ingredientes %}
            
            <li class="col-6 col-lg-6" style="color:#c04f04; margin: .5em;">
             -> {{ receita_ingrediente.ingrediente.nome }} -
              {{receita_ingrediente.quantidade }} {{ receita_ingrediente.unidade }}
            </li>
            {% endfor %}
            {% endif %}
          </ul>
          
         {% if recheio_ingredientes %}
          <ul>
            <p>Recheio:</p>
            {% for receita_ingrediente in recheio_ingredientes %}
            
            <li class="col-6 col-lg-6" style="color:#c04f04; margin: .5em;">
             -> {{ receita_ingrediente.ingrediente.nome }} -
              {{receita_ingrediente.quantidade }} {{ receita_ingrediente.unidade }}
            </li>
            {% endfor %}
            {% endif %}
          </ul>
          {% if recheio_ingredientes %}
          <ul>
            <p>Cobertura:</p>
            {% for receita_ingrediente in cobertura_ingredientes %}
            
            <li class="col-6 col-lg-6" style="color:#c04f04; margin: .5em;">
             -> {{ receita_ingrediente.ingrediente.nome }} -
              {{receita_ingrediente.quantidade }} {{ receita_ingrediente.unidade }}
            </li>
            {% endfor %}
            {% endif %}
          </ul>
          {% if generico_ingredientes %}
          <ul>
            {% for receita_ingrediente in generico_ingredientes %}
            
            <li class="col-6 col-lg-6" style="color:#c04f04; margin: .5em;">
             -> {{ receita_ingrediente.ingrediente.nome }} -
              {{receita_ingrediente.quantidade }} {{ receita_ingrediente.unidade }}
            </li>
            {% endfor %}
            {% endif %}
          </ul>
   
          <p class="imagem__texto">{{ receita.modo_de_preparo }}</p>
        </div> 
          <div class="btn_receitas">
            <a href="{% url 'editar_receita' receita.id %}"><button class="btn btn-success col-12" style="padding: top 1em; margin: .5em;">Editar</button></a>
            <a href="{% url 'deletar_receita' receita.id %}"><button class="btn btn-danger col-12" style="padding: top 1em; margin: .5em;">Deletar</button></a>
          </div>
      
       </div>
    </div>
  </section>
</section>

{% endblock %}
