html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family: 'Space Grotesk', sans-serif;
    min-height: 100vh;
    background: linear-gradient(#f6f9a7,#fafcc9,#fdfde4);
    background-position: center;
    background-size: cover;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.banner {
    width: auto;
    position: relative;
    margin-bottom: 1.5rem;
}

.banner__imagem {
    width: 70%;
    border-radius: 1em;
}

.banner__titulo {
    margin-top: 6em;
    color: #622f0b;
    font-size: 60px;
    width: 350px;
    line-height: 50px;
    position: absolute;
    top: -240px;
    left: 160px;
}

.cabecalho {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 2em 4rem 2em;
}

.cabecalho_logo {
    border-radius: 1.5em;
    height: 15em;
}

.cabecalho__busca {
    align-items: center;
    border-radius: 10px;
    background: linear-gradient(45deg, #f9ce88,#fcb440);
    display: flex;
    height: auto;
    justify-content: space-between;
    padding: 2px;
    width: auto; 
}

.busca__fundo {
    align-items: center;
    background-color: #ffc59b;
    border-radius: 8px;
    display: flex;
    margin: 0 auto;
    width: 100%;
}

.busca__input {
    align-items: center;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    height: 24px;
    padding: 10px;
    width: 500px;
}

.busca__icone {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
}

.cards {
    width: 100%;
}

.cards__titulo {
    color: #c04f04;
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 4em;
}

.cards__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.card {
    border-radius: 10px;
    box-shadow: 0px 10px 10px #00000050;
    color: #c04f04;
    margin-bottom: 1.5rem;
    position: relative;
    width: 450px;
}

.card__imagem {
    width: 450px;
    border-radius: 10px 10px 0 0;
}

.card__imagem__notfound {
    width: 450px;
    transform: scale(.4);
    border-radius: 10px 10px 0 0;
}

.card__tag {
    background-color: #f9ce88b3;
    border-radius: 8px;
    border: 2px solid transparent;
    font-size: 1.2rem;
    left: 310px;
    margin-right: 1.5rem;
    padding: .5rem .5rem;
    position: absolute;
    text-align: center;
    top: 20px;
    width: 100px;
}

.card__info {
    font-size: 1.2rem;
    padding: 0 1.5rem 1rem 1.5rem;
}

.card__titulo_1 {
    font-weight: bold;
    line-height: 2rem;
    margin-top: 0.8em;
}

.card__titulo_2 {
    line-height: 2rem;
    font-size: smaller;
}

.card__texto {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card__texto img {
    cursor: pointer;
}

.card__descricao {
    font-size: 0.6em;
    margin-top: 0.8em;
}

.galeria {
    display: flex;
    width: 100%;
}

.imagem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem__conteudo {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    border-radius: 20px 20px 0 0;
    width: 50em;
}

.imagem__imagem {
    display: flex;
    align-content: center;
    width: 70%;
    border-radius: 20px;
}

.imagem__imagem__notfound {
    display: flex;
    align-content: center;
    width: 70%;
    border-radius: 20px;
    transform: scale(.5);
}

.imagem__info {
    font-size: 1.2rem;
    display: flex;
    
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.imagem__texto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #c04f04;
    margin-top: 0.5rem;
}

.imagem__titulo {
    font-weight: bold;
    line-height: 2rem;
    color: #c04f04;
}

.imagem__texto {
    font-size: 1rem;
}

.imagem__descricao {
    font-size: 0.7rem;
}

.menu-lateral {
    padding-right: 1.5rem;
    box-sizing: border-box;
}

.menu-lateral__navegacao {
    display: flex;
    flex-direction: column;
}

.menu-lateral__navegacao a {
    font-family: 'Space Grotesk', sans-serif;
    align-items: center;
    display: flex;
    margin-bottom: 1.5rem;
    text-decoration: none;
    color: #c04f04;
    font-size: 24px;
}

.menu-lateral__navegacao a:first-child {

    color: #c04f04;
}

.menu-lateral__navegacao img {
    margin-right: 1.5rem;
}

.pagina-inicial {
    max-width: 1440px;
    padding: 1.5rem;
    margin: 0 auto;
}

.populares {
    margin-left: 1.5rem;
}

.populares__titulo {
    font-size: 2rem;
    color: #c04f04;
    line-height: 3rem;
    margin-bottom: 1.5rem;
}

.populares__imagens {
    display: flex;
    flex-direction: column;
}

.populares__imagem {
    margin-bottom: 1.5rem;
}

.populares__botao {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background: linear-gradient(45deg,#f9ce88,#fcb440);
    padding: 2px;
    box-sizing: border-box;
}

.populares__link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-decoration: none;
    color: #c04f04;
    background-color: #082D5C;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    transition: .5s;
}

.populares__link:hover {
    background: transparent;
}

.principal {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10em;
}

.rodape {
    background-color: #fbc561;
    width: 100%;
    padding: 1.5rem 3rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    z-index: 100;
}

.rodape__icones {
    width: 80px;
    display: flex;
    justify-content: space-between;
}

.rodape__texto {
    font-size: 1.1rem;
}

.tags {
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
    color: #c04f04;
    font-size: 1.3rem;
}

.tags__titulo {
    margin-right: 4rem;
}

.tags__lista {
    display: flex;
}

.tags__tag {
    background-color: #f9ce88;
    margin-right: 1.5rem;
    border-radius: 8px;
    padding: .8rem .5rem;
    width: 100px;
    text-align: center;
    border: 2px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tags__tag:hover {
    border: 2px solid #c04f04;
    cursor: pointer;
}

.alert {
    --bs-alert-bg: transparent;
    --bs-alert-padding-x: 1rem;
    --bs-alert-padding-y: 1rem;
    --bs-alert-margin-bottom: 1rem;
    --bs-alert-color: inherit;
    --bs-alert-border-color: transparent;
    --bs-alert-border: 1px solid var(--bs-alert-border-color);
    --bs-alert-border-radius: 0.375rem;
    position: relative;
    padding: var(--bs-alert-padding-y) var(--bs-alert-padding-x);
    margin-bottom: var(--bs-alert-margin-bottom);
    color: var(--bs-alert-color);
    background-color: var(--bs-alert-bg);
    border: var(--bs-alert-border);
    border-radius: var(--bs-alert-border-radius);
}

.alert-primary {
    --bs-alert-color: #084298;
    --bs-alert-bg: #cfe2ff;
    --bs-alert-border-color: #b6d4fe;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.col-12 {
    flex: 0 0 auto;
    width: 100%;
}

.btn {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: #212529;
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 0.375rem;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-success {
    --bs-btn-color: #fff;
    --bs-btn-bg: #198754;
    --bs-btn-border-color: #198754;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #157347;
    --bs-btn-hover-border-color: #146c43;
    --bs-btn-focus-shadow-rgb: 60,153,110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #146c43;
    --bs-btn-active-border-color: #13653f;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #198754;
    --bs-btn-disabled-border-color: #198754;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-warning {
    color: #000;
    background-color: #ffc107;
    border-color: #ffc107;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-check {
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5em;
    margin-bottom: 0.125rem;
}

.form-check-input {
    width: 1em;
    height: 1em;
    margin-top: 0.25em;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0,0,0,.25);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}

.google__login{
    display: flex;
    margin-top: 1em;
    background-color: #fff;
    padding: 1em;
    width: fit-content;
    border-radius: 10px;
    font-weight: bold;
    color: #082D5C;
    text-decoration: none;
}

.google__login:hover {
    background-color: #082D5C;
    color: #fff;
}

.errorlist li{
    margin-top: 12px;
}

.ingredientes li p {
    padding: 4px;
}

.ingredientes li {
    padding: 4px;
}

.btn_voltar_receita a {
    margin: 2em 0 4em 0;
}

.btn_nova_lista {
    color: #c04f04;
    font-weight: bolder;
    text-decoration: none;
    background-color: #fbc561;
    padding: 1em;
    border-radius: 8px;
}

.conteudo_listas {
    display: flex;
    width: 100%;
    justify-content: center;
}

.cards__lista_compras {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* margin-bottom: 20em; */
}

.cards__lista_compras li {
    margin: 2em 0 2em 0;
    width: 100%;
}

.lista_card__tag {
    color: #c04f04;
    background-color: #f9ce88b3;
    border-radius: 8px;
    border: 2px solid transparent;
    font-size: 1.2rem;
    margin-right: 1.5rem;
    padding: .5rem .5rem;
    position: absolute;
    text-align: center;
    top: 20px;
    width: 100px;
    margin-top: 4em;
}

.nova_lista__titulo {
    color: #c04f04; 
    font-weight: bolder;
    padding: 1em;
    width: 100%;
    margin-top: 1em;
    margin-right: 24em;
}

.nova_lista__form {
    margin-top: 1em;
}

.nova_lista__form input{
    padding: .5em;
    border-radius: 4px;
}

.edicao_lista {
    width: 100%;
    color: #c04f04;
    font-weight: bolder;
    margin: 1em 1em 20em 1em;
    justify-content: center;
}

.edicao_lista h1 {
    padding: 1em;
}

.edicao_lista h2 {
    padding: 1em;
}

.lista_itens__form p input{
    padding: .5em;
    border-radius: 4px;
    margin: 1em;
}

.item_lista__form {
    display: flex;
    width: 100%;
}

.lista__lista {
    display: grid;
    width: 100%;
}

.listas__tag {
    color: #c04f04;
    background-color: #f9ce88b3;
    border-radius: 8px;
    border: 2px solid transparent;
    font-weight: bold;
    position: absolute;
    text-align: center;
    top: 20px;
    width: 300px;
    margin-top: 4em;
    padding: 1em;
}

.novo_ingrediente {
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 2em;
}

.ingrediente-lista li p select {
    padding: 8px;
    border-radius: 4px;
}

@media screen and (max-width: 768px) {

    .pagina-inicial {
        max-width: 100%;
    }

    .cabecalho{
        display: flex;
        align-items: center;
        margin: 1em 2em 1em 2em;
    }

    .cabecalho_logo {
        border-radius: 1.5em;
        height: 8em;
        display: flex;
        margin-left: 4em;
      }

    .cabecalho__busca {
        display: none;
    }

    .menu-lateral {
        margin-top: 1em;   
    }

    .menu-lateral__navegacao {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .menu-lateral__navegacao img {
        transform: scale(.7);
        margin: 0em;
    }

    .menu-lateral__navegacao a {
        font-size: .7em;
    }

    .banner {
        display: none;
    }

    .conteudo {
        margin-left: 1.5em;
        margin-bottom: 100px;
        max-width: 100%;
        margin-top: -1.5em;
    }

    .tags__titulo{
        display: none;
    }

    .tags {
        transform: scale(.5);
        margin-left: -7em;
        margin-right: -9em;
    }

    .tags__lista{
        width: 100%;
        margin-right: 1em;
    }

    .tags__tag a {
        font-size: 1em;

    }

    .cards{
        max-width: fit-content;
        margin-left: -3em;
    }

    .imagem__imagem {
        display: flex;
        align-content: center;
        width: 50%;
        border-radius: 20px;
        margin-top: 1em;
      }

    .imagem__texto {
        display: flex;
        color: #c04f04;
        margin-top: 1.5rem;
        width: 90%
    }

    .btn_receitas {
        display: flex;
        margin-left: 0;
        margin-top: 0;
        padding: 1em;
    }

    .rodape {
        position: fixed;
        bottom: 0;
        z-index: 100;
        width: 100%;
    }

    .rodape__texto {
        font-size: .9em;
    }

    .imagem__info {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

    }

    .cards__lista {
        display: flex;
        width: 90%;
        padding: 0em;
        margin: 0em;
        justify-content: center;
    }

    .cards__lista_compras li {
        margin: 2em 0 2em 0;
        width: 100%;
        transform: scale(1);
      }

    .card {
        transform: scale(.5);
        margin: -5em;
    }

    .card__imagem {
        margin: 0;
    }

    .card__info {
        font-size: 2em;
    }

    .card__tag {
        background-color: #f9ce88;
    }

    .principal {
        display: flex;
        flex-wrap: wrap;
        
    }

    .row {
        margin-left: -3em;
        max-width: 95%;
        align-items: center;
    }

    .btn__usuario {
        margin-left: -5em;
    }

    .item_lista__form {
        margin: 1em -2em 1em -1em;
    }

      
    .conteudo_listas {
       margin: 1em 1em 20em -8em;
    }
}

@media screen and (max-width: 1024px) {
   
    .tags__titulo{
        display: none;
    }

    .cabecalho__busca {
        display: none;
    }

    .galeria {
        margin-right: 3em;
    }

    .tags__lista {
        flex-wrap: wrap;
    }
    
    .tags__tag {
        margin: .5em;
    }

    .imagem__conteudo {
        width: 40em;
    }

    .imagem__info{
        width: 100%;
        flex-wrap: wrap;
    }

    .imagem__texto{
        flex-wrap: wrap;
        margin-right: 3em;
    }

    .menu-lateral {
        margin-top: 1em;   
    }

    

}

@media screen and (max-width: 1299px) {
    .banner {
        display: none;
    }

    .galeria {
        margin-right: 3em;
        margin-left: 3em;
    }

    .tags__lista {
        flex-wrap: wrap;
    }

    .tags__tag {
        margin: .5em;
    }

    .cabecalho {
        margin: 0;
    }

    .imagem__info{
        width: 100%;
        flex-wrap: wrap;
    }

    .imagem__texto{
        flex-wrap: wrap;
        margin-right: 5em;
    }

    .menu-lateral {
        margin-top: 1em;   
    }
}