{% load static %}
<section class="menu-lateral">
    <nav class="menu-lateral__navegacao">
      <a href="{% url 'home' %}"
        ><img
          src="{% static '/food_bank_FILL1_wght200_GRAD200_opsz48.png' %}"
        />
        Home</a
      >
      <a href="#"
        ><img
          src="{% static '/dinner_dining_FILL0_wght200_GRAD200_opsz48.png' %}"
        />
        Mais vistas</a
      >
      <a href="#"
        ><img
          src="{% static '/lunch_dining_FILL0_wght200_GRAD200_opsz48.png' %}"
        />
        Novas</a
      >
      <a href="#"
        ><img
          src="{% static '/icecream_FILL0_wght200_GRAD200_opsz48.png' %}"
        />
        Surpreenda-me</a
      >
    </nav>
  </section>